In [1]:
#Create the 3 DataFrames based on the raw data in the following cell. Assign each dataframe to a variable called data1, data2, data3.
#Join the two dataframes along rows and assign all_data. <br>
#Join the two dataframes along columns and assing to all_data_col. <br>
#Merge all_data and data3 along the subject_id value. <br>
#Merge only the data that has the same 'subject_id' on both data1 and data2. <br>
#Merge all values in data1 and data2, with matching records from both sides where available. <br>

raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}


#---------------------------------Answers Below-----------------------------------------------------------------------------------

#Create the 3 DataFrames based on the raw data in the following cell. Assign each dataframe to a variable called data1, data2, data3.


#importing pandas library for data manipulation
import pandas as pd

data1 = pd.DataFrame(raw_data_1, columns=['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns=['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns=['subject_id', 'test_id'])

print("Here is the Data1:")
print("-----------------------------")
print(data1)

print("\n Here is the Data2:")
print("-----------------------------")
print(data2)

print("\n Here is the Data3:")
print("-----------------------------")
print(data3)

Here is the Data1:
-----------------------------
  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

 Here is the Data2:
-----------------------------
  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

 Here is the Data3:
-----------------------------
  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

In [2]:
#Join the two dataframes along rows and assign all_data.

#using 'concat' function to merge dataframes and merging it to new dataframe named as 'all_data'
all_data = pd.concat([data1, data2])
print(all_data)

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [3]:
#Join the two dataframes along columns and assing to all_data_col

#using 'concat' function here to create a new dataframe containing all columns from data1 and data2
all_data_col = pd.concat([data1, data2], axis = 1)
print(all_data_col)

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

In [4]:
#Merge all_data and data3 along the subject_id value.

#Using 'merge' function here to create a new dataframe and printing it directly. The new dataframe contains all the columns from 'all_data' and 'data3' based on matching rows on 'subject_id'
print(pd.merge(all_data, data3, on='subject_id'))

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

In [5]:
#Merge only the data that has the same 'subject_id' on both data1 and data2

#merging the data based on given condition above using 'merge' function along with 'inner' join type. The new dataframe contains the matching rows from two datasets using 'subject_id'
print(pd.merge(data1, data2, on='subject_id', how='inner'))

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

In [6]:
#Merge all values in data1 and data2, with matching records from both sides where available.

#using 'merge' function and 'outer' join to create a new dataframe containing values in data1 and data2, with matching records from both sides where available
print(pd.merge(data1, data2, on='subject_id', how='outer'))

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan